{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block principal %}
	<div class="row">
		<div class="container col-lg-6" style="margin-top: 125px">
			<h1 class="text-center" style="margin-bottom: 25px">Edit User</h1>


			{{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}
			{{ include('usuario/_delete_form.html.twig') }}

			<a href="{{ path('app_usuarios') }}">Go back to users</a>
		</div>
	</div>
{% endblock %}
