{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block principal %}
    <h1>Editar Usuario</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_usuario_index') }}">Volver a la lista</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
