{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block principal %}
<div class="row">
<div class="container col-lg-6" style="margin-top: 125px">
    <h1 class="text-center" style="margin-bottom: 25px">Register</h1>
    {{ include('usuario/_form.html.twig') }}
</div>
</div>
{% endblock %}
