<form method="post" action="{{ path('app_games_delete', {'id': juego.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ juego.id) }}">
    <button class="btn btn-danger mb-3">Delete</button>
</form>
