{% extends 'base.html.twig' %}

{% block title %}Editar Juego{% endblock %}

{% block principal %}
    <h1>Editar Juego</h1>

    {{ include('juego/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_juego_index') }}">Volver a la lista</a>

    {{ include('juego/_delete_form.html.twig') }}
{% endblock %}
