{% extends 'base.html.twig' %}

{% block title %}Nueva Categoria{% endblock %}

{% block principal %}
    <h1>Crear Nueva Categoria</h1>

    {{ include('categoria/_form.html.twig') }}

    <a href="{{ path('app_categoria_index') }}">Volver a la lista</a>
{% endblock %}
