{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block principal %}
	<div class="row">
		<div class="container col-lg-4" style="margin-top: 125px">
			<h1 class="text-center" style="margin-bottom: 25px;">Login</h1>
			{% if error %}
				<div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
			{% endif %}
			<form class="form-horizontal" action="{{ path('app_login') }}" method="POST">
				<div class="form-group">
					<div class="col-xs-12">
						<label for="username" class="label-control" style="color: white">Username</label>
						<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" style="background-color: #1B2327; color: white">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<label for="password" class="label-control" style="color: white">Password</label>
						<input class="form-control" type="password" id="password" name="_password" style="background-color: #1B2327; color: white">
						<input type="hidden" name="_target_path" value="/">
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Login</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>
		</div>
	</div>
{% endblock %}
