<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<br>
				<hr style="color: white">
				<p>Copyright © 2023
					<a href="#">Disrupta Games Company</a>. All rights reserved.
					<br>
					<i class="fa fa-phone sr-icons"></i>
					(+34)602213979
					<br>
					<i class="fa fa-envelope sr-icons"></i>
					disrupta@gmail.com
				</p>
			</div>
		</div>
	</div>
</footer>