{% extends 'base.html.twig' %}

{% block title %}Editar Post{% endblock %}

{% block principal %}
    <h1>Editar Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post_index') }}">Volver a la lista</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
