{% extends 'base.html.twig' %}

{% block title %}Nuevo Post{% endblock %}

{% block principal %}
    <h1>Crear Nuevo Post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">Volver a la lista</a>
{% endblock %}
