{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Error 404
{% endblock %}
{% block principal %}
	<style>
		.example-wrapper{
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
      background: #F5F5F5;
			padding: 2px 2px;
      text-align: center;
      border-radius: 10px;
		}
	</style>
	<div class="example-wrapper">
		<br><br>
		<h1>Error</h1>
	</div>
{% endblock %}

